/*
	Gravity Forms Enhacner Stylesheet
*/

.gravityFormsEnhancer .postbox h3 { padding-left: 20px; }
.gravityFormsEnhancer p.submit { padding: 0; margin: 0; padding-left: 10px; padding-bottom: 10px; margin: 10px 0; margin-top: 15px; }
.gravityFormsEnhancer.not-tabbed .postbox { margin-bottom: 15px; }
.gravityFormsEnhancer .postbox h4 { margin: 0; border-bottom: 1px solid #dadada; padding-bottom: 6.5px; }
.gravityFormsEnhancer .postbox table.form-table th label { padding: 0; margin: 0; font-weight: normal; }
.gravityFormsEnhancer .postbox table.form-table th { width: 300px; min-width: 50%; max-width: 70%; }
.gravityFormsEnhancer .postbox table.form-table th,
.gravityFormsEnhancer .postbox table.form-table td { padding-top: 7.5px; padding-left: 20px; padding-bottom: 7.5px; margin: 0; vertical-align: top; }